<div class="bg-gray-100 overflow-hidden">
  <div class="{{ partial "utils/get-layout" . }}">
    <div class="2xl:flex 2xl:flex-wrap">
      <div class="w-full 2xl:w-1/3">
        {{ partial "typography/heading1" (dict "h2" true "text" .title) }}
        <p class="text-secondary-text">{{ .subtitle }}</p>
        {{- with .fileName -}}
          {{ $fileResource := ( resources.Get .) }}
          <a href="{{ $fileResource.Permalink }}" target="_blank" class="mt-8  flex items-center">
            <i class="far fa-file-pdf fa-2x"></i>
            <p class="ml-2 inline">{{ $.fileLabel }}</p>
          </a>
        {{- end -}}
      </div>
      <div class="flex flex-wrap items-center 2xl:items-start mt-10 2xl:mt-0 space-y-6 2xl:space-y-0 w-full 2xl:w-2/3 ">
        {{ range (where site.RegularPages.ByWeight "Section" "issues") }}
          <div class="w-full md:w-1/2 2xl:w-1/4 text-center">
            <a
              class="inline-block py-4 px-8 hover:bg-gray-400 hover:text-primary-text"
              href="{{ .Page.Permalink | relLangURL }}"
            >
              <span
                class="w-24 h-24 p-6 bg-blue-900 text-primary-text-dark rounded-full flex items-center justify-center mx-auto"
              >
                {{ $src :=  print .Page.Params.iconPack " fa-" .Page.Params.icon }}
                <i class="{{ $src }} fa-2x"></i>
              </span>
              <div class="mt-6 text-2xl lg:text-3xl">{{ .Page.Params.title }}</div>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
