{{- range .Params.sections -}}
  {{- if eq .template "section-about-me-band" -}}
    {{ partial "sections/about-me-band/about-me-band" . }}
  {{- end -}}
  {{- if eq .template "section-issues" -}}
    {{ partial "sections/issues/issues" . }}
  {{- end -}}
  {{- if eq .template "section-testimonials" -}}
    {{ partial "sections/testimonials/testimonials" . }}
  {{- end -}}
  {{- if eq .template "section-news-list" -}}
    {{ partial "sections/news-list-home/news-list-home" . }}
  {{- end -}}
  {{- if eq .template "section-contact" -}}
    {{ partial "sections/contact/contact" . }}
  {{- end -}}
  {{- if eq .template "section-hero" -}}
    {{ partial "sections/hero/hero" . }}
  {{- end -}}
{{- end -}}
