{{ with .image }}
  {{ if strings.HasSuffix . "svg" }}
    {{ (resources.Get .).Content | safeHTML }}
    {{ else }}
    {{ $imageResource := ( resources.Get .) }}
    {{ $image448 := $imageResource.Resize "448x" }}
    {{ $image680 := $imageResource.Resize "680x" }}
    {{ $imagePlaceholder := $imageResource.Resize "10x" }}
    <picture>
      <source
        media="(min-width:768px)"
        srcset="data:image/jpeg;base64,{{ $imagePlaceholder.Content | base64Encode }}"
        adata-srcset="{{ $image680.Permalink }}"
      />
      <img
        src="data:image/jpeg;base64,{{ $imagePlaceholder.Content | base64Encode }}"
        adata-src="{{ $image448.Permalink }}"
        alt="{{ $.alt }}"
        class="mx-auto lazy {{ with $.class }}{{ . }}{{ end }} max-w-md md:max-w-none"
        title="{{ with $.title }}{{ . }}{{ end }}"
        width="100%"
        height="100%"
      />
    </picture>
  {{ end }}
{{ end }}
